@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css/Home/Index.css" rel="stylesheet" />

<section style="background-image: url('../../Content/Images/Image1.jpg');">
    <div class="home">
        <h2><span>Insta</span>Learn</h2>
        <div class="body-content">
            <p>Best Online Learning Website for both Professionals and Beginners</p>
        </div>
    </div>
</section>